.containers{
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 0px auto auto auto;
    
  }
  
  .one{
   background-color: black;
  grid-column: 1/-1;
  }
  
  .two{
   background-color: gray;
   grid-column: 1/5;
  }
  
  
  .three{
   grid-column: 5/-1;
  }
  
 .four{
   grid-column: 1/-1;
  }

  .cardd{
    display: flex;
  }
  
  
  .five{
   grid-column: 1/-1;
   height: 400px;
   background-color: black;
   }
  
  .container {
    padding: 2px 16px;
  }

  .llnk{
    text-decoration: none;
    color: black;
  }



  