.navv{
  display: flex;
  justify-content: right;
  
}

.searchh{

 margin-right: 130px ;
 display: flex;
}

.inp{
  border-radius: 20px;
 height: 50px;
 margin-top: 8px;
}

.logo{
  color: wheat;
  margin-right: 50px ;
  margin-top: 12px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #fff;
    color:black;
    border-radius: 7px;
  }

  .zzz{
    z-index: 1;
  }
