.profileContainer{

    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px auto 50px 50px;
  
  }
  
  .pone{
   
    background-color: green;
  
    grid-column: 1/6;
  }
  
  
  .ptwo{
   
    background-color: orange;
    
    grid-column: 6/-1;
  }
  